@model Mittagessen.Web.Models.EnrollmentModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".enroll-button").click(function () {
            var enrollButton = $(this);
            enrollButton.attr("disabled", "disabled");
            $.post('@Url.Action("EnrollUser")', { lunchId: enrollButton.attr("lunch-id") }, function (result) {
                if (result.success) {
                    enrollButton.replaceWith("<div class='enrolled-msg'>Angemeldet</div>");
                }
                else {
                    enrollButton.replaceWith("<div class='disenrolled-msg'>Voll</div>");
                }
            });
        });

        $(".disenroll-button").click(function () {
            var disenrollButton = $(this);
            disenrollButton.attr("disabled", "disabled");
            $.post('@Url.Action("DisenrollUser")', { lunchId: disenrollButton.attr("lunch-id") }, function () {
                disenrollButton.replaceWith("<div class='disenrolled-msg'>Abgemeldet</div>");
            });
        });
    });       
</script>

<h2>Anmeldung</h2>

@foreach (var lunch in Model.Lunches)
{    
    <div class="meal">
        <div>
            <h5 style="float:left">@lunch.LunchDate.DayOfWeek @lunch.LunchDate.ToShortTimeString()</h5>
        @if (Model.EnrolledByUser(lunch))
        {
            <span class="label label-success" style="float:right;margin-right:10px;margin-top:10px">Angemeldet</span>
        }
        </div>
        <div class='meal-details' meal-id="@lunch.CookedMealId">
            <img alt="@lunch.CookedMeal.Name" src="@lunch.CookedMeal.ImageName"  />
            <div style="min-height:40px"><h4>@lunch.CookedMeal.Name</h4></div>
        </div>
        <table>
            <tr>
                <td><span style='font-family:Verdana; font-weight:bolder'>Portionen:</span></td>
                <td><span class="badge badge-info">@lunch.NumberOfPortions</span></td>
            </tr>
            <tr>
                <td><span style='font-family:Verdana; font-weight:bolder'>Angemeldete:</span></td>
                <td><span class="badge badge-success">@lunch.NumberOfEnrollments</span></td>
            </tr>
        </table>
        <div style="margin-left:auto;margin-right:auto;margin-top:10px;width:7em">
        @if (Model.EnrolledByUser(lunch))
        {
            <input lunch-id="@lunch.Id" type='button' value='Abmelden' class='btn btn-danger disenroll-button' />
        }
        else if (@lunch.NumberOfEnrollments >= lunch.NumberOfPortions)
        {
            <div class='termin-full-msg'>Termin voll</div>
        }
        else
        {
            <input lunch-id="@lunch.Id" type='button' value='Anmelden' class='btn btn-primary enroll-button' />
        }
        </div>
    </div>   
}
