@model Mittagessen.Web.Models.EnrollmentModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".enroll-button").click(function () {
            var enrollButton = $(this);
            enrollButton.attr("disabled", "disabled");
            $.post('@Url.Action("EnrollUser")', { lunchId: enrollButton.attr("lunch-id") }, function () {
                enrollButton.replaceWith("<div class='enrolled-msg'>Angemeldet</div>");
            });
        });

        $(".meal-details").click(function () {
            $.get('@Url.Action("MealDetails", "Overview")', { mealId: $(this).attr("meal-id") }, function (data) {
                $("#my-modal-body").html(data);
                $("#myModal").modal('show');
            });
        });
    });       
</script>

<h2>Anmeldung</h2>

@foreach (var lunch in Model.Lunches)
{    
    <div class="meal">
        <span>@lunch.LunchDate</span>
        <div class='meal-details' meal-id="@lunch.CookedMealId">
            <img alt="@lunch.CookedMeal.Name" src="@lunch.CookedMeal.ImageName"  />
            <span>@lunch.CookedMeal.Name</span>
        </div>
        <div>
            <span>Portionen: </span><span>@lunch.NumberOfPortions</span>
        </div>
        <div>
            <span>Angemeldete: </span><span>@lunch.NumberOfEnrollments</span>
        </div>
        <div style="margin-left:auto;margin-right:auto;width:7em">
        @if(Model.EnrolledByUser(lunch))
        {
            <div class='enrolled-msg'>Angemeldet</div>
        }
        else
        {
            <input lunch-id="@lunch.Id" type='button' value='Anmelden' class='btn btn-primary enroll-button' />
        }
        </div>
    </div>   
}

<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body" id="my-modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
