@model Mittagessen.Data.Entities.Meal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#variation-list input[type='checkbox']").change(function () {
            var variationId = $(this).parent("li").attr("variation-id");
            $.post('@Url.Action("UpdateVariation")', { variationId: variationId, requiresDeadline : $(this).is(":checked") });
        });
    });
</script>

<div>
    @Html.ActionLink("Zmazat", "Delete", new { id = Model.Id }, new { @class="btn btn-danger" })
</div>

<div>
    @using(Html.BeginForm("Edit", "Meal", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.EditorForModel()

        <input type="submit" class="btn btn-primary" value="Ulozit" />
    }
</div>

<div>
    @Html.Action("AddVariation", new { mealId = Model.Id })
</div>

<div>
    <ul id="variation-list">
        @foreach (var variation in Model.Variations)
        {
            <li variation-id="@variation.Id">
                @Html.CheckBoxFor(m => variation.RequiresDeadLine)
                @variation.Name 
                @Html.ActionLink("Zmazat", "RemoveVariation", new { mealId = Model.Id, variationId = variation.Id })
            </li>
        }
    </ul>
</div>

