@model Mittagessen.Data.Entities.Meal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#variation-list input[type='checkbox']").change(function () {
            var variationId = $(this).parent("li").attr("variation-id");
            $.post('@Url.Action("UpdateVariation")', { variationId: variationId, requiresDeadline : $(this).is(":checked") });
        });
    });
</script>

<div class="span8">
    <div>
        @Html.ActionLink("Naplanovat obed", "Create", "Lunch", new { mealId = Model.Id }, new { @class="btn btn-primary" })
    </div>

    <div>
        @using(Html.BeginForm("Edit", "Meal", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)
        
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { style="width:400px" })
            @Html.ValidationMessageFor(m => m.Name)
        
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { style = "width:400px;height:200px" })
            @Html.ValidationMessageFor(m => m.Description)

            @Html.LabelFor(m => m.ImageName)
            @Html.EditorFor(m => m.ImageName)
            @Html.ValidationMessageFor(m => m.ImageName)

            <div>
                <input type="submit" class="btn btn-primary" style="width:150px;height:40px;margin-top:20px" value="Ulozit" />
            </div>
        }
    </div>
</div>

<div class="span3">
    <div>
        @Html.Action("AddVariation", new { mealId = Model.Id })
    </div>

    <div>
        <ul id="variation-list">
            @foreach (var variation in Model.Variations)
            {
                <li variation-id="@variation.Id">
                    @Html.CheckBoxFor(m => variation.RequiresDeadLine)
                    @variation.Name 
                    @Html.ActionLink("Zmazat", "RemoveVariation", new { mealId = Model.Id, variationId = variation.Id })
                </li>
            }
        </ul>
    </div>
</div>
