@model IEnumerable<Mittagessen.Data.Entities.Meal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Novy recept", "Create", null, new { @class = "btn btn-primary" })
</div>

@foreach (var meal in Model)
{
    <div class="meal">
        <a href='@Url.Action("Edit", new { id = meal.Id })'>
            <div class="meal-img">
                <img alt="@meal.Name" src="@meal.ImageName" />
            </div>
            <div class="meal-name">
                <span>@meal.Name</span>
            </div>
        </a>
    </div>
}
