@model Mittagessen.Web.Areas.Sprava.Models.LunchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.selectable-meal').click(function () {
            $('#cooked-meal-id').val($(this).attr('meal-id'));
            $('#cooked-meal-id').valid();
            $('#cooked-meal-name').html($(this).attr('meal-name'));
        });
    });
</script>
<div>
    @Html.ActionLink("Zmazat", "Delete", new { id = Model.LunchId }, new { @class = "btn btn-danger" })
</div>

<br />

@using (Html.BeginForm("Edit", "Lunch", FormMethod.Post))
{
    @Html.HiddenFor(m => m.LunchId)
    
    <div>
        @Html.LabelFor(m => m.LunchDate)
        @Html.EditorFor(m => m.LunchDate)
        @Html.ValidationMessageFor(m => m.LunchDate)
    </div>
    <div>
        @Html.LabelFor(m => m.LunchTime)
        @Html.EditorFor(m => m.LunchTime)
        @Html.ValidationMessageFor(m => m.LunchTime)
    </div>
    <div>
        @Html.LabelFor(m => m.NumberOfPortions)
        @Html.EditorFor(m => m.NumberOfPortions)
        @Html.ValidationMessageFor(m => m.NumberOfPortions)
    </div>

    <div>
        <a href="#my-modal" role="button" class="btn" data-toggle="modal">Vybrat jedlo</a>
        <span id="cooked-meal-name">@Model.CookedMealName</span>
        @Html.HiddenFor(x => x.CookedMealId, new { id = "cooked-meal-id" })
        @Html.ValidationMessageFor(m => m.CookedMealId)
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary" value="Ulozit" />
    </div>
}

<h4>Prihlaseni</h4>
<table>
    <tr>
        <th style="width:150px">Uzivatel</th>
        <th>Variacia</th>
    </tr>
    @foreach (var enrollment in Model.Enrollments.OrderBy(e => e.VariationName))
    {
        <tr>
            <td>@enrollment.UserName</td>
            <td>@enrollment.VariationName</td>
        </tr>
    }
</table>

<div class="modal hide fade in" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Vybrat jedlo</h3>
  </div>
  <div class="modal-body">
    @Html.Action("MealList")
  </div>
  <div class="modal-footer">
  </div>
</div>