@model Mittagessen.Data.Entities.Lunch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.selectable-meal').click(function () {
            $('#cooked-meal-id').val($(this).attr('meal-id'));
            $('#cooked-meal-name').html($(this).attr('meal-name'));
        });
    });
</script>
<div>
    @Html.ActionLink("Zmazat", "Delete", new { id = Model.Id }, new { @class="btn btn-danger" })
</div>

<br />

@using(Html.BeginForm("Edit", "Lunch", FormMethod.Post))
{
    <div>
        @Html.TextBox("LunchDate.Date", Model.LunchDate.ToShortDateString(), new { @class = "date" })
    </div>
    <div>
        @Html.TextBox("LunchDate.Time", Model.LunchDate.ToShortTimeString())
    </div>
    <div>
        @Html.TextBoxFor(m => m.NumberOfPortions)
    </div>

    @Html.HiddenFor(x => x.CookedMealId, new { id = "cooked-meal-id" })

    <div>
        <a href="#my-modal" role="button" class="btn" data-toggle="modal">Vybrat jedlo</a>
        <span id="cooked-meal-name">@Model.CookedMeal.Name</span>
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary" value="Ulozit" />
    </div>
}

<div class="modal hide fade in" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Vybrat jedlo</h3>
  </div>
  <div class="modal-body">
    @Html.Action("MealList")
  </div>
  <div class="modal-footer">
  </div>
</div>