@model IEnumerable<Mittagessen.Data.Entities.Meal>
           
@{
    Layout = null;
}

@foreach (var meal in Model)
{
    <div class="meal-small selectable-meal" meal-id="@meal.Id" meal-name="@meal.Name" data-dismiss="modal">
        <img alt="@meal.Name" src="@meal.ImageName" />
        <span>@meal.Name</span>
    </div>
}