@model Mittagessen.Web.Models.UserModel

@{
    ViewBag.Title = "Edit";
}

<h2>Benutzerdaten</h2>

@using(Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.DisplayFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
        
    <input type="submit" class="btn btn-primary" value="Speichern" />
}
