@model Mittagessen.Web.Models.RegistrationModel

@{
    Layout = null;
}

<script type="text/javascript">
    var RegistrationViewModel = function(useDefaultPassword) {
        this.useDefaultPassword = ko.observable(useDefaultPassword);
    };

    $(function () {
        var vm = new RegistrationViewModel($("#use-default-password-input").is(':checked'));
        ko.applyBindings(vm);
        vm.useDefaultPassword.subscribe(function (newValue) {
            $("#password-input").val("");
            $("#confirm-password-input").val("").valid();
        });
    });
</script>

<div style="background-color:#3fefc2; padding:5px; padding-left:30px; border-radius: 15px">

<div class="header-text">Registrierung</div>

@using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { id = "registration-form" }))
{
    <div class="required">
        @Html.LabelFor(m => m.RegistrationPassword)
        @Html.EditorFor(m => m.RegistrationPassword)
        @Html.ValidationMessageFor(m => m.RegistrationPassword)
    </div>
    
    <div class="required">
        @Html.LabelFor(m => m.RegistrationName)
        @Html.EditorFor(m => m.RegistrationName)
        @Html.ValidationMessageFor(m => m.RegistrationName)
    </div>
    
    <div class="required">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    
    <div class="check-box-input">
        @Html.CheckBoxFor(m => m.UseDefaultPassword, new { id = "use-default-password-input", data_bind = "checked: useDefaultPassword" })
        @Html.LabelFor(m => m.UseDefaultPassword)
        @Html.ValidationMessageFor(m => m.UseDefaultPassword)
    </div>
       
    <div style="clear:both">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { id = "password-input", data_bind = "disable: useDefaultPassword" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "confirm-password-input", data_bind = "disable: useDefaultPassword" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>      
    
    <div class="form-submit">
        <input type="submit" value="Register" class="btn btn-primary"  />    
    </div>
}

</div>
